:root {
    --color-ref-primary10: #041e49ff;
    --color-ref-error0: #000000ff;
    --color-ref-error10: #410e0bff;
    --color-ref-error20: #601410ff;
    --color-ref-error30: #8c1d18ff;
    --color-ref-error40: #b3261eff;
    --color-ref-error50: #dc362eff;
    --color-ref-error60: #e46962ff;
    --color-ref-error70: #ec928eff;
    --color-ref-error80: #f2b8b5ff;
    --color-ref-error90: #f9dedcff;
    --color-ref-error95: #fceeeeff;
    --color-ref-error99: #fffbf9ff;
    --color-ref-error100: #ffffffff;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.r2 {
    background: var( --color-ref-primary10);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.r2:hover {
    transform: scale(1.05);
}

.r2 > div {
    color: white;
    text-align: center;
    width: 50%;
}

.list {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > h2 {
    font-size: 18px;
    color: var( --color-ref-primary10);
    margin-right: 20px;
}

.texts-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
}

.text-input input,
#description {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var( --color-ref-primary10);
    color: white;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.text-input input:focus,
#description:focus {
    transform: scale(1.05);
    outline: none;
}

.text-input input:valid,
#description:valid {
    border: 2px solid var( --color-ref-primary10);
}

.text-input label {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 16px;
    color: var( --color-ref-primary10);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.text-input input:focus + label,
#description:focus + label,
.text-input input:valid + label,
#description:valid + label {
    transform: translateY(-20px);
    opacity: 0;
}

#description {
    resize: none;
    height: 100px;
}

.btn {
    padding: 10px 20px;
    background: var( --color-ref-primary10);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--color-ref-primary10);
}

select,
option {
    padding: 10px;
    background: var( --color-ref-primary10);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

select:focus,
option:focus {
    outline: none;
}

@media (max-width: 720px) {
    select {
        margin-left: 0;
        width: 100%;
    }

    .list {
        flex-direction: column;
    }
}

.contt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
