@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&family=Open+Sans:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;

}








:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
     --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);
    
}









hr{
    display:none;
    width: 100%;
    border: 2px var(--dark) solid;
}


.nav{
    width: 100%;
    height: 15%;
    position: fixed;
    transition: 500ms;
    background-color: var(--red);
    box-shadow: 0px 0px 10px 0px var(--dark);
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
z-index: 10;
}


















































.logo{

    display: none;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 45px;
    border-radius: 10px;
    margin: 5px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px 0px aliceblue;
}





.logo #name{
display: none;
    color: var(--red);
    font-family:"Kanit" ;
    font-size:30px ;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.nav:hover .logo #name{
    display: block;
    transition: 600ms;
  
}
  







.logo #x{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
 font-size: 45px;
text-transform: uppercase;
font-family:"Kanit" ;
}



.nav:hover .logo #x{
    display: none;
    transition: 600ms;
}









/*/////////////////////////////////// user///////////////////////////////////////////////////*/

.user{
display: flex;
justify-content: start;
align-items: center;
min-width: 23%;
padding: 10px;
overflow: hidden;
height: 70px;
}





.user img{
  margin-left: 0px;
    clip-path: circle();
    width: 50px;
    
}

.user img :hover h2{
    transform: translateX(0);
    opacity: 1;
}

.user h2{
  opacity: 1;
  
    color: aliceblue;
    width: 100%;
    text-align: center;
    font-family:"Kanit" ;
    text-transform: capitalize;
    transition: 1s;
}





/*    list           */



.nav ul{
    list-style: none;
width: 77%;
display:flex;
justify-content: end;
margin-right:40px;
align-items: center;
}

.nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: aliceblue;
    text-decoration: none;
  transition :0.3s;
 padding: 5px;
 
   
    background-color: transparent;
  
}




.menu-item:hover li {
    display: block;
}








.nav ul a:hover{
background-color: var(--darks);
width :150px;
}








.nav ul a i{
    font-size: 22px;
    margin: 8px;
   
    
}
.nav ul a li{
    width: 50px;
    text-align: center;
    font-size: 18px;
    display: none;
    transition: 0.5s;
    font-family:"Kanit" ;
    margin: 8px;
}

ul a:hover li{
    
}




.unclicked{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: aliceblue;
    text-decoration: none;
    background-color: aqua;
 padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    border: 3px var(--red) solid;
    background-color: var(--red-back);
    transition: 500ms;
    box-shadow: 0px 0px 5px 0px var(--dark);
}

.clicked{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: aliceblue;
    text-decoration: none;
    background-color: aqua;
 padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    border: 3px var(--red) solid;
    background-color: var(--red-back);
    transition: 500ms;
    box-shadow: 0px 0px 5px 0px var(--dark);
    background-color: var(--darks);
    letter-spacing: 5px;
}