@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&family=Montserrat&family=Open+Sans:ital,wght@0,400;1,300&family=Roboto&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');
*{
    font-family: Roboto;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
    --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);



    --color-ref-primary0: #000000ff;
    --color-ref-primary10: #041e49ff;
    --color-ref-primary20: #062e6fff;
    --color-ref-primary25: #073888ff;
    --color-ref-primary30: #0842a0ff;
    --color-ref-primary40: #0b57d0ff;
    --color-ref-primary50: #1b6ef3ff;
    --color-ref-primary60: #4c8df6ff;
    --color-ref-primary70: #7cacf8ff;
    --color-ref-primary80: #a8c7faff;
    --color-ref-primary90: #d3e3fdff;
    --color-ref-primary95: #ecf3feff;
    --color-ref-primary99: #fafbffff;
    --color-ref-primary100: #ffffffff;
    --color-ref-secondary0: #000000ff;
    --color-ref-secondary10: #001d35ff;
    --color-ref-secondary12: #002238ff;
    --color-ref-secondary15: #002845ff;
    --color-ref-secondary20: #003355ff;
    --color-ref-secondary25: #003f66ff;
    --color-ref-secondary30: #004a77ff;
    --color-ref-secondary35: #005789ff;
    --color-ref-secondary40: #00639bff;
    --color-ref-secondary50: #047db7ff;
    --color-ref-secondary60: #3998d3ff;
    --color-ref-secondary70: #5ab3f0ff;
    --color-ref-secondary80: #7fcfffff;
    --color-ref-secondary90: #c2e7ffff;
    --color-ref-secondary95: #dff3ffff;
    --color-ref-secondary99: #f7fcffff;
    --color-ref-secondary100: #ffffffff;
    --color-ref-tertiary0: #000000ff;
    --color-ref-tertiary10: #072711ff;
    --color-ref-tertiary20: #0a3818ff;
    --color-ref-tertiary30: #0f5223ff;
    --color-ref-tertiary40: #146c2eff;
    --color-ref-tertiary50: #198639ff;
    --color-ref-tertiary60: #1ea446ff;
    --color-ref-tertiary70: #37be5fff;
    --color-ref-tertiary80: #6dd58cff;
    --color-ref-tertiary90: #c4eed0ff;
    --color-ref-tertiary95: #e7f8edff;
    --color-ref-tertiary99: #f2ffeeff;
    --color-ref-tertiary100: #ffffffff;
    --color-ref-error0: #000000ff;
    --color-ref-error10: #410e0bff;
    --color-ref-error20: #601410ff;
    --color-ref-error30: #8c1d18ff;
    --color-ref-error40: #b3261eff;
    --color-ref-error50: #dc362eff;
    --color-ref-error60: #e46962ff;
    --color-ref-error70: #ec928eff;
    --color-ref-error80: #f2b8b5ff;
    --color-ref-error90: #f9dedcff;
    --color-ref-error95: #fceeeeff;
    --color-ref-error99: #fffbf9ff;
    --color-ref-error100: #ffffffff;
    --color-ref-neutral0: #000000ff;
    --color-ref-neutral4: #0e0e0fff;
    --color-ref-neutral6: #131314ff;
    --color-ref-neutral8: #161818ff;
    --color-ref-neutral10: #1f1f1fff;
    --color-ref-neutral12: #1f2020ff;
    --color-ref-neutral15: #282828ff;
    --color-ref-neutral17: #2a2a2aff;
    --color-ref-neutral20: #303030ff;
    --color-ref-neutral22: #343535ff;
    --color-ref-neutral24: #393939ff;
    --color-ref-neutral25: #3c3c3cff;
    --color-ref-neutral30: #474747ff;
    --color-ref-neutral40: #5e5e5eff;
    --color-ref-neutral50: #757575ff;
    --color-ref-neutral60: #8f8f8fff;
    --color-ref-neutral70: #abababff;
    --color-ref-neutral80: #c7c7c7ff;
    --color-ref-neutral87: #dadadaff;
    
}




.body2{
position: relative;
margin-left: 70px;
background-image: linear-gradient(180deg, #1e3c72 10%, #2a5298 90%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}
.top{
height: 300px;
margin-top: 120px;
margin-bottom: 110px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.top img{
   width: 150px;
   box-shadow: 0px 0px 10px 0px snow;
 border-radius: 25px;
 transition: 600ms;
}



.top button{
    margin-top: 50px;
    outline: none;
    border: none;
    color: snow;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #7BB6FF;
    cursor: pointer;
    transition: 600ms;
}

.top button:hover{
    scale: 1.1;
}


.back{
    position: fixed;
    width: 100%;
    background-color: #7BB6FF;
    opacity: 0.3;
    top: 0;
    height: 100%;
    z-index: 999;
    display: flex;
}
form{
    position: absolute;
    background-color:#ECF1F9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 380px;
    margin: 200px 470px;
    top: 0;
    z-index: 9999;
    display: none;
    padding: 20px;
    border-radius: 20px;
}


form i{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #2a5298;
    color:snow;
    rotate: 45deg;
  padding: 10px;
  clip-path: circle();
}


form h2{
    margin: 20px;
    color:#2a5298;
}

form input{
    margin: 10px;
    padding: 10px;
    outline: none;
    width: 70%;
    border: none;
  
}



#btn{
    background-color:#2a5298;
    color: snow;
    padding: 20px;
    border-radius: 5px;
    transition: 400ms;
}

#btn:hover{
    scale: 1.1;
}

#btn{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
}


@media (max-width:720px) {
    form{
        margin: 200px 55px;
    }
}




