*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}



:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}



body{
    height: 100vh;

}



hr{
    width: 100%;
}
.nav{
    background-color: var(--reds);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 100%;
    position: fixed;
}




.nav > i{
    font-size: 50px;
    background-color: aliceblue;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

























.user{
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 30px;
}


.user img{
width: 60px;
border-radius: 50%;
}
.user h3{
    
}





.slide ul{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
}

.slide ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    text-decoration: none;
    padding: 15px;
    width: 100%;
}