
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&family=Montserrat:ital,wght@0,400;1,500&family=Open+Sans:ital,wght@0,400;1,300&family=Roboto&family=Roboto+Mono:wght@500&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&family=Space+Grotesk:wght@300;400;500&family=Vina+Sans&display=swap');

:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
     --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);
    
}



.car-selected {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100vh;
    background-color:#522e24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-selected{
   width: 320px;
   z-index: 1;
  
   box-shadow: 0px 0px 15px 0px black;
}



.info-card{
    background-color: snow;
    min-height: 450px;
    width: 0;
    border-radius: 0px 5% 5% 0px;
    padding: 15px;
}



.name-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    flex-wrap: wrap;
    
}





.car-logo-info{
    position: absolute;
    right: 20px;
    width: 60px;
}
.name-info-name{
    text-transform: capitalize;
    font-size: 28px;
    color:#5c2626 ;
    font-family: "Rubik";
    flex-basis: 100px;
}







.info-selected{
   
    width: 90%;
}
.type-info-rent{
    background-color: #db5f29;
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    color: snow;
    font-family: "Rubik";
    font-size: 16px;
    margin: 5px;
    box-shadow: 0px 0px 5px 0px black ;
}

.model-info{
    color: #222;
    margin: 7px;
    font-size: 22px;
    font-family: "Rubik";
}



.driven-info{
    color: #222;
    margin: 7px;
    font-size: 22px;
    font-family: "Rubik";
}
.fuel-info{ color: #222;
    margin: 7px;
    font-size: 22px;
    font-family: "Rubik";}

    .Engine-size-info{ color: #222;
        margin: 7px;
        font-size: 22px;
        font-family: "Rubik";}

        .color-info{ color: #222;
            margin: 7px;
            font-size: 22px;
            font-family: "Rubik";}



.driven-info b{
    color: snow;
    padding: 5px;
    border-radius: 4px;
    background:linear-gradient(to top right ,#222,rgba(83, 81, 81, 0.594));
}



.description-info{
    color: #222;
    margin: 10px;
background-color: rgba(128, 128, 128, 0.137);
    box-shadow: 0px 0px 5px 0px black;
    padding: 10px;
    border-radius: 10px;
    font-family: "Rubik";
    backdrop-filter: blur(5px);
}













.pay-info{
    font-family: "Rubik";
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    padding: 5px;
}
.mony-info{
    font-size: 30px;
    color: #ffd6b6 !important;
    background-color: #0e2e3b;
    border: #70560d;
    font-family: "Rubik";
}

.Vin-info{
    color: #222;
        margin: 7px;
        font-size: 22px;
        font-family: "Rubik";}

.Vin-info b{
    color: #0e2e3b;
}


.btnnn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.id-info{
font-size: 22px;
font-family: "Rubik";

}
.id-info > b{
    color: #0e2e3b;
}




.continar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  
}

.continar h3{
    min-width: 35%;
}




.contact-info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
   
    
    padding: 5px;
    margin: 7px;
}
.contact-info-div h3 {
    color: #0e2e3b;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-family: 'rubik';
    font-size:22px ;
    
}

.contact-info{

width: 300px;
text-align: center;
padding: 15px;
font-size: 22px;
text-transform: capitalize;
text-decoration: none;
color: #5e0606;
border-radius: 10px;
transition: 400ms;
background-image: linear-gradient(45deg, #c3a655 10%, #efd99b 90%);
}

.contact-info:hover{
scale: 1.1;
letter-spacing: 2px;
}







.owner-name{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
font-family: "rubik";
}

.owner-name > b{
font-size: 22px;
color: #0e2e3b;
}


#close-btn{
    position: absolute;
    top: 280px;
    right: 130px;
    background-color: snow;
    padding: 15px;
    rotate: 45deg;
    font-size: 20px;
    cursor: pointer;
    clip-path: circle();

}