.hied{
    display: none;
}


.cards{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: center;
    width: 94.4%;
    margin-left: 4em;
    padding: 1em;
    gap: 20px;
}
