.hied{
    display: none;
}
 body{
    background-image: linear-gradient(180deg, #333333 5%, #222222 95%);
    height: 100%;
    background-repeat: no-repeat;
 }

.cards{
    background-image: linear-gradient(180deg, #333333 5%, #222222 95%);

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: center;
    width: 94.4%;
    margin-left: 4em;
    padding: 1em;
    gap: 20px;
    
}
