*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
     --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);
    
}



body{
height: 100vh;
overflow-x: hidden;

}




.filter{
    
   
    z-index: 1;
    width: 94%;
    height: 500px;
   margin-left: 70px;
}