@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

form{
    padding: 20px;
    text-align: center;
  
    width: 40%;
    height: 100%;
   
    background:linear-gradient(135deg ,rgba(75, 116, 160,0.2), rgba(75, 116, 160,0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.37);
    animation-fill-mode:forwards;
    animation-name: ins;
    
    animation-duration: 3s;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes ins {
    0%{
    }
    50%{
        
        width: 35%;
    }
    70%{
        
        opacity: 1;
        width: 35%;
    }
    100%{
        translate: -300px 0px;
        width: 35%;
        opacity: 1;
    }
}

form > h2{
    font-family: "Agbalumo";
    font-size: 50px;
    letter-spacing: 8px;
    margin: 10px;
    margin-bottom: 20px;
    color:var(--red) ;
    background: linear-gradient(to top right ,orangered, #db984b);
    background-clip: text; 
    color: transparent;
    animation-name: inns;
animation-duration: 1.5s;
animation-delay: 2s;
animation-fill-mode:forwards;
}

@keyframes inns {
    0%{

    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 1;
     
        /*translate: -200px 0px;*/
    }
}




@media (max-width:1000px) {
    form{
        width: 60%;
    }
    video{
        width: 100% ;
    }
}

@media (max-width:600px) {
    form{
        width: 90%;
        
    }
    video{
        position: absolute;
  width: 100%;
       
    }
}