@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');



.profile-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative;
    margin-bottom: 20px;
}


.profile-image .image{
    box-shadow: 2px 2px 10px 0px #4b749f;
height: 112px;
width: 113px;
border-radius: 50%;
border: #4b749f 2px solid;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}



.profile-image img{
width: 110px;
clip-path: circle();
}


.profile-image label{
 background: linear-gradient(to top right ,#243748,#4b749f);
box-shadow: 0px 2px 10px 2px  #4b749f;
padding:10px 20px;
position: absolute;
clip-path: circle();
cursor: pointer;
font-size: 24px;
text-transform: capitalize;
scale: 0.5;
font-weight: 800;
bottom: -22px;
transition: 300ms;
color: snow;
}



.id-div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.id-div p{
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: "Rubik";
    text-transform: capitalize;
   color: snow;
   
}
.id-div p b{
    background: linear-gradient(to top right ,#243748,#4b749f);
padding: 5px;
border-radius: 5px;
}



.input-div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    margin: 25px;
    position: relative;
}
.input-div input{
    width: 65%;
    outline: none;
    border: none;
    padding: 5px;
    height: 45px;
    transition: 300ms;
    font-size: 22px;
    margin-left: 10px;
    border-radius: 8px;
    
}
.input-div input:focus,
.input-div input:valid{
    border-left: 8px solid rgba(109, 168, 231, 0.692);
    transition: 300ms;
}

.input-div i{
    position: absolute;
    left: 40px;
    font-size: 26px;
    cursor: pointer;
    background: linear-gradient(to top right ,#243748,#4b749f);
    -webkit-background-clip: text; 
    color: transparent;
}

button{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Rubik";
    text-transform: capitalize;
    transition: 400ms;
    width: 215px;
    outline: none;
   border :2px solid;
    border-radius: 10px;
     background: linear-gradient(to top right ,#243748,#4b749f);
   color: snow;
}

button:hover{
    letter-spacing: 2px;
    scale: 1.07;
}

form > p{
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    color: snow;
}

form > p > a{
    text-decoration: none;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(to top right ,#46637d,#4b749f);
   color: snow;
}


video{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.fa-arrow-left{
    position: absolute;
    color: snow;
    background: linear-gradient(to top right ,#243748,#4b749f);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    font-size: 20px;
    transition: 400ms;
}

.fa-arrow-left:hover{
    translate: 0px 3px;
}

.success{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.success p{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Rubik";
    text-transform: capitalize;
   color: snow;
}

.success i{
     color: snow;
     background:linear-gradient(to top right ,green,rgb(29, 211, 29));
    font-size: 30px;
display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    padding: 0.8em;
}

.error{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;

}
.error i{
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Rubik";
    text-transform: capitalize;
   color: snow;
   background:linear-gradient(to top right ,red,rgb(244, 78, 78));

   display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    padding: 0.8em;
}
.error p{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Rubik";
    text-transform: capitalize;
   color: snow;
}

@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
   .profile-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative;
    margin-bottom: 20px;
}
}