@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');

:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}
*{
    box-sizing: border-box;
    
}


.bbb{
    position: absolute;
    background-color: aqua;
    top: 50px;
    left:20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    text-decoration: none;
    font-size: 20px;
    color: snow;
    background-color: var(--red);
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}




.login-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.779);
    position: center;
    width: 35%;
    padding: 30px;

    translate: 500px 0px;
    animation-fill-mode:forwards;
    animation-name: in;
    
    animation-duration: 2.5s;

background:linear-gradient(135deg ,rgba(25,25,25,0.1), rgba(25,25,25,0));
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.18);
box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.37);
}
@keyframes in {
    0%{

    }
    100%{
        translate: 0px 0px;
    }
}
.login-form h2{
    color: var(--red);
   text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: "Agbalumo";
    letter-spacing: 10px;
    padding: 10px;
    margin-bottom: 20px;
}






.divcon{
   
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
position: relative;
margin-top: 20px;
}





.divcon input{
    outline: none;
    border: none;
    flex-grow: 1;
    flex-basis: 250px;
   background-color:transparent;
    padding: 13px;
   
    z-index: 10;
    border-bottom: 2px var(--reds) solid;
    margin-left: 10px;
    font-size: 20px;
    font-family:"Space Grotesk" ;
    color: transparent;
    letter-spacing: 2px;
}












.divcon input:focus,
.divcon input:valid{
    border-color:rgb(253, 102, 102) ;
    color: aliceblue;
}


.slide{
    background-color: rgba(173, 39, 39, 0.605);
    width: 72%;
    height: 0px;
    position: absolute;
    left: 90px; 
    bottom: 26px;
    transition: 600ms;
    border-radius: 50% 50% 0px 0px;
}




.divcon input:focus~.slide,
.divcon input:valid~.slide{
  height: 53px;
  border-radius: 0px 0px 0px 0px;
}






.divcon p{
    position: absolute;
letter-spacing: 5px;
color: aliceblue;
z-index: 2;
left: 100px;
transition: 500ms;
text-transform: capitalize;
font-family:"Open Sans" ;
font-size: 20px;
}


.divcon input:focus~p,
.divcon input:valid~p{
    translate:-5px -42px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}






.divcon i{
    background-color: var(--red);
    padding: 8px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    color: var(--white);
    
    background-color: var(--dark);
    border: var(--red) solid 2px;
}

















.password .eye i:nth-child(1){
   
    cursor: pointer;
}

.password .eye i:nth-child(2){
    cursor: pointer;
    display: none;
}


.password .slide{
    width:72%;
    left: 93px;
}









.btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

.remember-forget{
   color: snow
 
}

.remember-forget a{
color :rgb(191, 64, 64) ;
}


.btn button{ 
outline: none;
border: none;
padding: 10px;
width: 250px;
font-size: 25px;
text-transform: uppercase;
letter-spacing: 2px;
margin: 10px;
color: aliceblue;
transition: 300ms;
background-color: rgba(255, 0, 0, 0.237);
}
  
.btn button:hover{
    cursor: pointer;
    background-color: var(--red);
    letter-spacing: 6px;
}


.btn p{
margin: 10px;
text-transform: capitalize;
}

.btn p:nth-child(1){
   
background-color: rgba(255, 0, 0, 0.306);
padding: 2px;
border-radius:5px ;
}
.btn p:nth-child(2){
    color: red;
}

.btn p:nth-child(3){
  display: block;
  position: absolute;
  bottom: 0;
}

#os{
    color: aliceblue;
}


.btn p a{
    color: var(--red);
    margin-left: 5px;
}





@media (max-width:800px) {
    body{
        background-color: black;
    }
    .login-form{
        width: 100%;
    }
    .slide{
        width: 74%;
    }
}


@media (max-width:1190px){
.slide{
    display:none;
}
.divcon input:valid,
.divcon input:focus{
    transition: 600ms;
    background-color: rgba(255, 0, 0, 0.573);
}

}


.welcome{
    color: snow;
   
}

.error{
    color:snow;
    background-color: var(--red);
    padding: 2px;
    border-radius: 0.2rem;
}