div .mute{
    display: hidden;
}

.vid1{
 position: absolute;
 width: 100%;
}
.ttt{
    position: absolute;
    z-index: 2;
    left: 100px;
    width:400px;
  opacity: 1;
  animation-name:ani ;
  animation-duration: 7s;
}

@keyframes ani {
    0%{

    }
    25%{
        opacity: 1;
    }
    100%{
    
    }

}

.mute{
    position: absolute;
    z-index: 100;
    bottom: 30px;
    left: 20px;
    color: snow;
    padding: 20px;
    display: hidden;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    background-color: rgb(173, 39, 39);
    cursor: pointer;
}