@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94.5%;
    margin-left: 4em;
    flex-direction: column;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #e0ebeb;
    padding: 10px;
    border-radius: 10px;
}

.dashboard p {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: snow;
}

.dashboard i {
    font-size: 1.5rem;
    color: snow;
}
