@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@300&family=Montserrat&family=Open+Sans:ital,wght@0,400;1,300&family=Roboto&family=Rubik:ital,wght@0,300;0,400;1,300&family=Space+Grotesk:wght@300;400;500&display=swap');
*{
    font-family: Roboto;
    text-transform: capitalize;
}
:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
     --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);
    
}
/*osam*/


form{
    z-index: 1;
    width: 94%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 70px;
  
   padding: 10px;
}



.search{
    width: 60%;
   margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.search input{
flex-grow: 1;
outline:none;
border: 3px solid var(--red);
padding: 5px;
padding-left: 10px;
border-radius:0px 40px 40px 0px;
border-left: none;
font-size: 18px;
color: aliceblue;
background-color:var(--reds) ;
transition: 500ms;
}
.search input:focus{
    background-color: var(--red-back);
}

.search i{
    border: 3px solid var(--red);
    border-right: none;
   font-size: 20px;
   padding: 6px;
   border-radius: 20px 0px 0px 20px;
   color: aliceblue;
   background-color: var(--reds);
}




.filter-icon{
  transition: 400ms;
    width: 110px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-size: 20px;
text-transform: capitalize;
color: #222;
border-radius: 10px;
cursor: pointer;
letter-spacing: 2px;
color: var(--red);
border: 2px solid var(--red);
margin: 20px;
}

.filter-icon:hover{
color: aliceblue;
background-color: var(--red);
}



.opt{
    margin: 0 auto;
   
    width: 50%;
}



.filter{
    display: none;
    width: 100%;

}

.opt{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--red);
    text-transform: uppercase;
  
    width: 100%;
}


.s{
    flex-basis: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.s select{
    flex-grow: 1;
    outline: none;
border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--red);
    font-size: 16px;
    color: snow;
    transition: 300ms;
}

.s label{
    font-size: 18px;
    margin: 5px;
    margin-right:30px ;
    font-weight: 600;
    color: snow;
    text-transform: uppercase;
}


option{
  
    color: aliceblue;
}
option:hover{
    background-color: #2222225b;
}

.range{
 display: flex;
    width: 60%;
   
}

input[type="range"] {
    accent-color: var(--red);
    flex-basis: 250px;
    margin: 0px 20px;
  }


  @media (max-width:720px) {
    .range{
        width: 90%;
    }
  }


  .new-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  .new-filter .date{
    flex-basis: 30%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .date label{
    font-size: 18px;
    margin: 5px;
    margin-right:30px ;
    font-weight: 600;
    color: snow;
    text-transform: uppercase;
    width: 100px;
  }

  .date input{
 flex-basis: 50px;
 width: 40px;
 border: 2px solid var(--red);
 border-radius: 8px;
 padding: 5px;
 font-size: 20px;
 outline: none;
  }


 #engine-size{
    flex-basis: 200px;
 }
 #label-engine-size{
    width: 200px !important;
 }
 #cc{
    color: snow;
    font-size: 22px;
    margin-left: 5px;
    
 }