:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   
     --red-back:rgba(173, 39, 39, 0.413);
    --reds:rgb(191, 64, 64);
    
}

.range{
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 10px;
    padding: 10px;
}

.range label{
    color: #fce850;
    font-size: 18px;
    font-weight: 600;
    margin-right:20px ;
}

.range p{
   color: aliceblue;
    border-radius: 8px;
    padding: 5px;
    margin-right:5px ;
}

.range .s2000{
    color: snow;
    font-size: 18px;
    font-weight: 600;
    margin-right:20px ;
}

.range label{
    letter-spacing: 3px;
}
.range input{
    width: 200px;
}


.button {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reset {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reset{
outline: none;
border: 2px #ddf516 solid;
padding: 10px;
width: 100px;
color: snow;
background-color: transparent;
margin: 10px;
transition: 500ms;
cursor: pointer;
font-size: 20px;
}



.reset:hover{
    color: black;
    background-color: #ddf516;
    letter-spacing: 3px;
    }




.button button:hover{
color: black;
background-color: #ddf516;
letter-spacing: 3px;
}


.button input{
    outline: none;
    border: 2px #ddf516;
    padding: 10px;
    width: 100px;
    color: black;
    background-color: #fae3e3;
    margin: 10px;
    transition: 500ms;
    cursor: pointer;
    font-size: 20px;
}

.button input:hover{
   background-color:  #ddf516;
   letter-spacing: 3px;
   
}