@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    overflow-x: hidden;
}

:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}






.about{
    display: flex;
    justify-content: space-between;
 margin: 150px;
    align-items: center;
    width: 80%;
    padding-top: 150px;
   flex-wrap: wrap;
}


.about .text{
flex-shrink: 1;
flex-basis: 410px;
font-size:26px;
}







#breake{
    border: 2px solid var(--red);
    translate: 0px 150px;
    
    width: 100%;
}


.about .text p{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 40px;
    
}



.about .text p b{
    font-size: 30px;
    color: var(--white);
    background-color: var(--red);
    padding: 5px;
    border-radius: 10px;
   animation-name:color-change;
   animation-duration: 12s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-delay: 1s;
}

.about img{
    width: 330px;
    border: 3px var(--dark) solid;
    border-radius:15px ;
    box-shadow: 0px 0px 20px 0px var(--red);
    translate :0px -20px;
    transition: 700ms;
    animation-name: moving;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes moving {
    0%{

    }
    50%{
      translate: 0px 20px;
      box-shadow: 0px 0px 20px 0px var(--dark);
    }
    100%{

    }
}






@keyframes color-change {
    0%{

    }
    50%{
     color: var(--red);
     background-color: var(--dark);
    }
    100%{

    }
}




@media (max-width:950px) {
	.about{
        justify-content: center;
        align-items: center;
        margin: 150px 40px
    }
    .about img{
        margin-top: 50px;
    }
}