:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}








.footer{
    background-color:var(--dark);
    position: absolute;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}




.footer > h2{
color: var(--white);
letter-spacing: 4px;
font-size: 40px;
margin-top: 30px;
}




.footer .creator{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
}

.creator .card{
display: flex;
transition: 700ms;
align-items: center;
justify-content: center;
flex-direction: column;
margin:15px  100px;
border: 2px aliceblue solid;
border-radius: 20px;
background-color: var(--dark);
}


.card:nth-child(1){
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.card:nth-child(2){
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay:-3s ;
}



.card:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 0px var(--red);
    border-color: var(--red);
}
.card:hover .name{
    color: var(--red);
}






.card .name{
    text-transform: capitalize;
    font-size: 30px;
    color: aliceblue;
    margin:0px 40px;
    margin-top: 40px;
    transition: 700ms;
}





.card .ce{
    color: var(--red);
    margin-bottom: 20px;
    margin-top: 10px;
}






.line{
    background-color: aliceblue;
    height: 3px;
    width: 90%;
    border-radius: 20px;
}







.social{
letter-spacing: 3px;
text-transform: uppercase;
margin: 30px 0px;
color:aliceblue ;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}





.icons i{

    padding: 10px;
    font-size: 30px;
    border-radius:10px;
    margin-bottom: 20px;
    
   transition: 300ms;
}
  



.icons i:hover{

    scale: 1.1;
}
.fa-facebook{
    color: aliceblue;
    background-color: blue;
}









.fa-x-twitter{
    color: var(--dark);
    background-color: aliceblue;
}





.fa-github{
    background-color: var(--dark);
    color: aliceblue;
    border: aliceblue 2px solid;
}






.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}






.copyright p {
    color: aliceblue;
    font-size: 20px;
    text-transform: capitalize;
}
.copyright p::first-letter{
    color: var(--red);
    margin-top: 20px;
    font-size: 30px;
}










@keyframes moving {
    0%{

    }
    50%{
      translate: 0px 20px;
      scale: 1.3;
    }
    100%{

    }
}
