*{
	margin: 0;
}













:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}






.s1{
	overflow: hidden;
	height: 100vh;
	display: flex;
	width: 1000px;
	background-color:var(--dark) ;
}






.f{
	background-color:var(--dark);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}






.s1 img{
width: 1300px;
transition: 600ms;
animation-duration: 10s;
animation-name: a1;
animation-timing-function:ease;
animation-iteration-count: infinite;
animation-direction: alternate;
object-fit: cover !important;
}
.s1 img:nth-child(3){
	scale:1.25;
	margin-left: 70px;
	
}

.s1 img:nth-child(4){
scale: 1.05;
margin-left: 70px;
}












@keyframes a1 {
	0%{
translate :0px 0px ;
	}

	25%{

	}
	30%{
translate: -1060px 0px;
	}
	55%{

	}
	60%{
		translate: -2120px 0px;
	}
    
	95%{

	}
	
	100%{
		translate:-3180px 0px;
	}
}












.info{
	background:linear-gradient(to bottom ,black ,transparent,transparent,transparent);
	position:absolute;
	bottom: 0px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}







.info a{
	position: absolute;
	bottom: 100px;
	text-decoration: none;
	color: aliceblue;
	background-color: rgba(0, 0, 0, 0.326);
	padding: 20px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--red);
	text-transform: capitalize;
	font-size: 25px;
	letter-spacing: 5px;
	transition: 600ms;
	border-radius: 15px;
	translate: 0px 400px;
	opacity: 0;
	animation-name: onload;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@keyframes onload {
	0%{


	}

	100%{
		translate: 0px 80px;
		opacity: 1;
	}
}










.info a:hover{
	scale: 1.1;
	background-color: var(--red);
	color: aliceblue;
	letter-spacing: 2px;
}







.te{
	
	padding: 30px;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--white);
	
}
.te p{
	background-color: rgba(36, 3, 3, 0.422);
	font-size: 40px;
	width: 500px;
	translate: -200px 0px;
	transition: 600ms;
	padding: 12px;
	border-radius: 15px;
	color: aliceblue;
	border: 2px solid var(--red);
}





@media (max-width:950px) {
	.te p{
     opacity: 0;
	}
    
}