*{
	margin: 0;
}









.s1{
	overflow: hidden;
	height: 100vh;
	
}










:root{
    --dark: rgb(0, 1, 1);
    --darks: rgba(0, 1, 1, 0.543);
    --red:rgb(173, 39, 39);
    --white:rgb(238, 239, 240);
   

    --reds:rgb(191, 64, 64);
    
}













.s1 img{
width: 1280px;
transition: 600ms;
animation-duration: 6s;
animation-name: a1;
animation-timing-function:ease;
animation-iteration-count: infinite;
animation-direction: alternate;
}















@keyframes a1 {
	0%{

	}
	50%{
translate: 0px -720px;
	}
	100%{
		translate: 0px -1420px;
	}
	
}












.info{
	background:linear-gradient(to bottom ,black ,transparent,transparent,transparent);
	position:absolute;
	bottom: 0px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}







.info a{
	position: absolute;
	bottom: 100px;
	text-decoration: none;
	color: aliceblue;
	background-color: rgba(0, 0, 0, 0.326);
	padding: 20px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--red);
	text-transform: capitalize;
	font-size: 25px;
	letter-spacing: 5px;
	transition: 600ms;
	border-radius: 15px;
	translate: 0px 400px;
	opacity: 0;
	animation-name: onload;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@keyframes onload {
	0%{


	}

	100%{
		translate: 0px 0px;
		opacity: 1;
	}
}










.info a:hover{
	scale: 1.1;
	background-color: var(--red);
	color: aliceblue;
	letter-spacing: 2px;
}







.te{
	
	padding: 30px;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--white);
}
.te p{
	stroke: 1px solid red;
}
